.header h1 {
    color: var(--white);
    font-size: 28px;
    margin-bottom: 12px;
    font-weight: 400;
}

.header span {
    font-size: 14px;
    color: var(--white);
    font-weight: 300;
}

/* Mobile */
@media (max-width: 768px) {
    .header h1 {
        font-size: 22px;
        margin-bottom: 8px;
    }

    .header span {
        font-size: 12px;
    }
}
