.container {
	background-color: var(--info);
	color: var(--white);
	font-size: 16px;
	padding: 12px 24px;
	border-radius: 4px;
	margin-top: 24px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	transition: background-color 0.3s ease;
}

.container:hover {
	background-color: var(--info-hover);
}

.error {
	background-color: var(--danger);
}
.error:hover {
	background-color: var(--danger-hover);
}

.disabled {
	background-color: var(--light);
	cursor: not-allowed;
}
.disabled:hover {
	background-color: var(--neutral);
}

/* Mobile */
@media (max-width: 768px) {
	.container {
		font-size: 14px;
		padding: 10px 18px;
	}
}
