.container {
    background-color: var(--dark-light-blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.content {
    width: 75%;
    border-right: 1px solid var(--light);
}

.header h1 {
    color: var(--white);
    font-size: 28px;
    margin-bottom: 24px;
    font-weight: 600;
}

.header span {
    margin-top: 14px;
    font-size: 14px;
    color: var(--white);
    margin-top: 8px;
    font-weight: 300;
}
