.container {
    background-color: var(--dark-light-blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 75%;
    padding: 20px;
    border-right: 1px solid var(--light);
}

.header h1 {
    color: var(--white);
    font-size: 28px;
    margin-bottom: 24px;
    font-weight: 600;
}

.header span {
    margin-top: 14px;
    font-size: 14px;
    color: var(--white);
    margin-top: 8px;
    font-weight: 300;
}

.input {
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 4px;
    padding: 12px 12px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.input input {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 14px;
    color: var(--white);
    outline: none;
}

.input svg {
    height: 20px;
    width: 20px;
    fill: var(--white);
    cursor: pointer;
    margin-left: 8px;
    transition: fill 0.3s ease;
}

.input svg:hover {
    fill: var(--info);
}

.input input::placeholder {
    color: var(--light);
}
