.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.value {
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
    line-height: 100%;
}

.label {
    font-size: 20px;
    color: var(--light);
    line-height: 100%;
}
