* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    border: none;
}
body {
    font-family: "Lexend", sans-serif;
    background-color: #f5f5f5;
    scroll-behavior: smooth;
    color: #333;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}
