:root {
    --black-blue: #04141c;
    --dark-blue: #001e2b;
    --dark-light-blue: #003045;
    --white: #ffffff;
    --info: #016bf8;
    --info-hover: #003578;
    --light: #828282;
    --neutral: #575757;
    --danger: #db3030;
    --danger-hover: #9d1919;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    border: none;
}
body {
    font-family: "Lexend", sans-serif;
    background-color: #f5f5f5;
    scroll-behavior: smooth;
    color: #333;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    height: 100vh;
}

#root {
    height: 100vh;
    overflow: hidden;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

/* Mobile base styles */
@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}
