.sidebar {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    background-color: var(--black-blue);
}

.sidebar img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.link svg {
    fill: var(--white);
    transition: fill 0.3s ease;
}

.link:hover svg {
    fill: var(--info);
}

.link.active {
    fill: var(--light);
}

.link.active svg {
    fill: var(--light);
}

.logout {
    margin-top: auto;
    cursor: pointer;
    fill: var(--white);
    transition: fill 0.3s ease;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout:hover {
    fill: var(--danger-hover);
}

.logout svg {
    fill: inherit;
}
