.sidebar {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    background-color: var(--black-blue);
}

.sidebar img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.links {
    margin-top: 30px;
}

.links a {
    text-decoration: none;
}

.links a svg {
    fill: var(--white);
    transition: fill 0.3s ease;
}

.links a:hover svg {
    fill: var(--info);
}

.logout {
    margin-top: auto;
    cursor: pointer;
    fill: var(--white);
    transition: fill 0.3s ease;
}
.logout:hover {
    fill: var(--danger-hover);
}
